body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  background: #465961;
  color: #EEE5D3;
}
header h1 {
  text-align: center;
  font-weight: bold;
}

.reservas {
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 50px;
  padding-bottom: 100px;
}
.reservas button.bonito {
  border: none;
  background: #465961;
  color: #EEE5D3;
  font-weight: bold;
  border-radius: 15px;
  padding: 10px;
}
.reservas button.bonito:hover {
  background: #9BCBEB;
}
.reservas .paso-requisitos {
  display: grid;
  grid-template-columns: 200px 300px;
  grid-row-gap: 20px;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.reservas .paso-requisitos .ancho {
  grid-column: span 2;
  text-align: center;
}
.reservas .paso-requisitos .contador-personas {
  display: grid;
  grid-template-columns: 100px 50px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  text-align: right;
  font-weight: bold;
}
.reservas .paso-requisitos .contador-personas select {
  border: none;
  background: none;
  font-weight: bold;
  grid-column: 2;
}
.reservas .paso-requisitos .fechas {
  display: grid;
  grid-template-columns: 100px 150px;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}
.reservas .calendario {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: grid;
  grid-template-columns: repeat(7, 80px);
  grid-template-rows: 38px 24px repeat(auto-fit, 90px);
  text-align: center;
  background-color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.reservas .calendario .nombre-mes {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 150%;
  grid-column: span 7;
  background-color: #EEE5D3;
}
.reservas .calendario .nombre-mes button {
  background: none;
  border: none;
}
.reservas .calendario .nombre-mes button:hover {
  color: white;
  background-color: #9BCBEB;
}
.reservas .calendario .nombre-mes button:first-child {
  float: left;
}
.reservas .calendario .nombre-mes button:last-child {
  float: right;
}
.reservas .calendario .nombre-dia {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.reservas .calendario .fecha {
  border: 2px double black;
  font-size: 350%;
  color: grey;
}
.reservas .calendario .fecha.desactivada {
  background-color: lightgray;
}
.reservas .calendario .fecha:hover:not(.desactivada) {
  background-color: #9BCBEB;
}
.reservas .calendario .fecha.seleccionada {
  background-color: lightblue;
}
.reservas .pantalla-calendario {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 100px;
}
.reservas .habitaciones {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.reservas .habitaciones .card {
  width: 300px;
  max-width: 350px;
  min-width: 200px;
}
.reservas .habitaciones .card.elegida {
  background-color: #9BCBEB;
}
.reservas .datos-usuario {
  display: grid;
  grid-template-columns: 150px 400px;
  grid-row-gap: 8px;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}
.reservas .datos-usuario input {
  width: 100%;
}
.reservas .datos-usuario input:not(:valid) {
  color: red;
}
.reservas .datos-usuario div {
  margin-top: 20px;
  text-align: center;
  grid-column: span 2;
}/*# sourceMappingURL=main.css.map */